.deck2 {
  background-color: #9b929b;
  display: inline-block;
  height: 350px;
  width:  40%;
  padding: 60px;
  margin: 40px;
  margin-left: 60px;
  float: left;
  border-radius: 20px;
}

#audioplayer{
  width: 100%;
  height: 60px;
  margin: 10px auto;
}

#pButton2{
    height:60px; 
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('img/play.png') ;}
.pause{background: url('img/pause.png') ;}

#timeline{
  width: 250px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
  
}
#playhead{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0, 0, 0, 1);

}
// #search-container{
//   display: inline-block;
// }