* {
  box-sizing: border-box;
}

body {
  display: inline-block;
  margin: 0;
  width: 100%;
}

input .cross-fader {
  width: 40%;
}



@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';